@font-face {
    font-family: "Hestia Font";
    src: url("../fonts/Brandon_blk.otf");
}

.hestia-font {
    font-family: "Hestia Font";
}

.hestia-main {
    text-align: center;
    margin-top: 40px;
    letter-spacing: 1.5px;
    font-size: 32px;
}

@media screen and (max-width: 700px) {
    .hestia-main {
        margin-top: 55px;
    }
}

ul {
    padding: 0;
}

.links a {
    color: white;

    display: inline-block;
    min-width: 130px;
    font-size: 1.1em;
    letter-spacing: 1px;
    transition: color 0.5s;
}

.links a:hover{
    color:#0B3EE1
}
.links {
    transition: color 0.5s;
    display: block;
    text-align: center;
}








@media (min-width: 701px) {

    .mobileonly {
        display: none !important;
    }

    .desktoponly {
        display: block !important;
    }

}




@media (max-width: 700px) {

    .mobileonly {
        display: initial !important;
    }

    .desktoponly {
        display: none !important;
    }

}
